---
import Pbuttons from "./Pbuttons.astro";
const { head, text, list1, list2, list3 } = Astro.props;
---

<section class="stotsection">
  <div class="container">
    <h3>{head}</h3>
    <p>
      {text}
    </p>
    <ul>
      <li>{list1}</li>
      <li>{list2}</li>
      <li>{list3}</li>
    </ul>
    <a class="no-style" href="/forms">
      <Pbuttons title="Støt nu" size="large" />
    </a>
  </div>
</section>

<style>
  .stotsection {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-complimentary-pine-green-lightest);
    padding: var(--spacing-section-padding-vertical)
      var(--spacing-section-padding-horzontal);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-text-gap-vertical, 1.5rem);
    width: 46.375rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  h3 {
    font-family: "Poppins";
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  p,
  li {
    color: var(--text-paragraph-color-pine-green-medium);
    font-family: "Rubik";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  ul,
  li {
    list-style: none;
    padding: 0;
  }

  .no-style {
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
  }

  @media (max-width: 768px) {
    .container {
      width: auto; /* Adjust width for smaller screens */
      padding: 0 10px; /* Adjust padding for smaller screens */
    }

    .stotsection {
      padding: var(--spacing-section-padding-vertical, 5rem) 2rem; /* Adjust section padding for smaller screens */
    }
  }
</style>
